{% extends "journal/base.html" %}
{% block content %}
    <h1 class="mb-3">Resources by {{ view.kwargs.username }}</h1>
    <article class="media content-section pt-1 mb-3">
        <div class="media-body">
            <div class="article-metadata d-flex">
                <p class="col-2 mb-0 p-0">Name</p>
                <a class="col-1 mb-0 p-0">Link</a>
                <a class="col mb-0 p-0">Attachment</a>
                <p class="col mb-0 p-0">Language</p>
                <p class="col mb-0 p-0">Framework</p>
                <p class="col mb-0 p-0">Database</p>
                <p class="col mb-0 p-0">Technology</p>
                <p class="col mb-0 p-0">User</p>
                <a class="col-1 mr-1 p-0"></a>
                <a class="col-1 p-0"></a>
            </div>
        </div>
    </article>
    {% for resource in resources %}
        <article class="media content-section py-1" style="border-bottom: 0.5px solid grey;">
            <div class="media-body">
                <div class="article-metadata d-flex">
                    <p class="col-2 mb-0 p-0">{{ resource.name }}</p>
                    <a class="col-1 mb-0 p-0" href="{{ resource.link }}">Link</a>
                    <a class="col mb-0 p-0" href="{{ resource.attachment.url }}">Attachment</a>
                    <p class="col mb-0 p-0">{{ resource.language }}</p>
                    <p class="col mb-0 p-0">{{ resource.framework }}</p>
                    <p class="col mb-0 p-0">{{ resource.database }}</p>
                    <p class="col mb-0 p-0">{{ resource.technology }}</p>
                    <p class="col mb-0 p-0">{{ resource.created_by }}</p>
                    {% if resource.created_by == user %}
                        <a class="col-1 btn btn-secondary btn-sm mr-1 p-0" href="{% url 'resource-update' resource.id %}">Update</a>
                        <a class="col-1 btn btn-danger btn-sm p-0" href="{% url 'resource-delete' resource.id %}">Delete</a>
                    {% else %}
                        <a class="col-1 mr-1 p-0"></a>
                        <a class="col-1 p-0"></a>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}